*{
    margin: 0px;
    font-family: sans-serif;
}
#offertag{
    width: 100%;
    height: 36px;
    background-color: black;
    display: flex;
   justify-content: center;
   align-items: center;
    
}
#offertext{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 99%;
    height: 26px;
   
    align-items: center;
 
}
#offertext>p{
  color: white;
 
 
  font-size: 16px;
}
#cross{
  width: 20px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
#nav-main{
  display: flex;
  align-items: center;
  height: 70.2px;
  width: 100%;
  background-color: rgb(248,249,250)
}
#logo{
width: 16.66666667%;
height: 40.23px;
display: flex;
justify-content: center;
/* border: 1px solid red; */
}
#searchbar{
  width: 50%;
  height: 40.23px;
  display: flex;
  
}
#login{
  width: 25%;
  height: 40.23px;
  display: flex;
  justify-content: center;


}
#cart{
width: 8.33333333%;
height: 40.23px;
display: flex;
column-gap: 10px;
}
#search{
width: 80%;
text-decoration: none;
outline: none;
border: 0px;
padding-left: 30px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}
#submit{
  display: flex;
  background-color: black;
  align-items: center;
  color: white;
  width: 20%;
  justify-content: center;
  border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
#login1{
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;

}
#cart>div:first-child{

height: 100%;
width: 20%;
display: flex;
align-items: center;

}
a{
  text-decoration: none;
  color: white;
  height: 40.23px;
  display: flex;
align-items: center;
justify-content: center;
}
#loginanch{
  color: black;
}
#cart>div:nth-child(2){


height: 100%;
width: 20%;
display: flex;
align-items: center;
}
#cart>div:nth-child(3){


height: 100%;
width: 20%;
display: flex;
align-items: center;
}
#cart>div:nth-child(3)>a>img{
  width: 85%;

}
#cart>div:nth-child(3)>a{
  display: flex;
  justify-content: center;
}
#sub-nav{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  width: 100%;
  height: 51.5px;
  background-color: white;
  
}
.dropdown{
display: inline-flex;
list-style: none;


}
li>a{
  color: black;
  width: 100px;
  margin: auto;
  padding: 8px;
}
.dropdown>li>a>p:hover{
text-shadow: 2px 2px 8px #3f3e3e;
 
}

.sub-menu{
display: none;
list-style: none;
box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
/* padding: 20px; */
width: 15%;





}

.dropdown>li:hover .sub-menu{
  display: block;
  position: absolute;
  background-color: white;
}

#sub-nav a{
  color: rgb(80, 79, 79);
  font-size: 14px;
}

 
.sub-menu>a>p:hover{
  font-weight: bolder;
  text-align: end;
}
#container{
  position: sticky;
  top: 0px;

}
