*{
    margin: 0px;
    font-family: sans-serif;
   
}
#main_footer{
   background-color: black;
}
#container_footer{
    width: 95%;
   
    margin: auto;
    
}
#logo_footer{
    height: 120px;
    width: 100%;
   
}
#logo_footer>div{
    height:100%;
    width: 120px;
    margin: auto;
   
}
#logo_footer>div>img{
    width: 100%;
}
#socialmedia_footer{
    width: 100%;
    height: 27.06px;
   
}
#socialmedia_footer>div{
    width: 30%;
    height: 100%;
   
   margin: auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
#socialmedia_footer>div>div{
   
    height: 27.06px;
    margin: auto;

    
  
}
#socialmedia_footer>div>div>a>img{
    width: 100%;
    height: 100%;
}
svg{
    font-size: 100px;
    color: rgb(241, 234, 234);
}
#apps_footer{
    padding-top: 30px;
    width: 100%;
    height: 108px;
   
    display: flex;
}
#sub_footer{
    width: 50%;
    height: 100%;
  
  
}
#getapps_footer{
    width: 50%;
    height: 100%;
   
}
.head_sub_footer{
    width: 100%;
    height: 20px;
    margin-bottom: 25px;
  
}
.head_sub_footer>h5{
    color: white;
    font-size: 17px;
}
#newsletter_div_footer{
    display: flex;
    width: 100%;
    height: 60px;
   
}
#newsletter_footer{
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 50%;
}
#signup_footer{
    padding: 7px 15px;
    margin-top: 20px;
    border: 1px solid #fc2779;
    background-color: #fc2779;
    font-family: Poppins,sans-serif;
    color: #fff;
    border-radius: 0.25rem!important;
}

#playstore_div_footer{
    display: flex;
    width: 100%;
    height: 30px;
}
#text_div_footer{
    width: 43%;
    color: rgb(153, 153, 153);
}
.playstore_footer{
    width: 16.66%;
    height: 100%;
    margin-right: 15px;
}
.playstore_footer>a>img{
    width: 100%;
    height: 100%;
}
#informations_footer{
    margin-top: 25px;
}
#info_contents_footer{
    display: flex;
}
.contents_footer>a{
    text-decoration: none;
    color: rgb(153, 153, 153);
    margin-right: 120px;
   
}
.contents_footer>a:hover{
    color: white;
   
    text-decoration: underline;

}
#get_in_touch_footer{
    margin-top: 25px;
}
#GTN_footer{
    height: 66px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.fstline_footer{
    display: flex;
    color: #fff;
    column-gap: 8px;
    align-items: center;
}
.secndline_footer>a{
    text-decoration: none;
    color: rgb(153, 153, 153);
    
}
.thirdline_footer{
    color:  rgb(153, 153, 153);
    font-size: 12px;
}
.secndline_footer>a:hover{
    color: white;
   
    text-decoration: underline;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
#copyright_footer{
    padding-bottom: 30px;
    color: white;
    text-align: center;
    font-size: 13px;
}
#message_footer{
   width: 70%;
}
#error_footer{
color: #fc2779;
margin-top: 5px;
}