* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  /* width: 80%; */
  /* margin: auto; */
}

/*------------------- bar_sections ---------------------*/
#upper_bar_1 {
  display: flex;
  justify-content: space-between;
  margin: 50px 75px 0px 75px;
  padding-bottom: 10px;
}

#home_makeup {
  display: flex;
  column-gap: 12px;
}
#makeup_icon {
  display: flex;
  column-gap: 12px;
}
#filter_sort {
  display: flex;
  column-gap: 40px;
}
#upper_bar_2 {
  display: flex;
  column-gap: 10px;
  margin-left: 75px;
}

/* -----------------------  card section  ------------------------ */

#card_container {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  /* justify-content: flex-start; */
  /* align-items: center; */
  margin: 0 1rem;
  width: 80vw;
  margin: auto;
  /* border: 1px solid red; */
  margin-top: 70px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 50px;
  padding: 32px;
  border: 1px solid green;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-upper-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.3rem;
  text-align: center;
}

.card-upper-section-header {
  display: flex;
  justify-content: flex-end;
  gap: 0.6rem;
  align-self: flex-end;
}

.card-upper-section > img {
  height: 276px;
  width: 256px;
  margin-bottom: 15px;
}

.card-upper-section > p{
  margin-bottom: 10px;
}

.star_rate {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.card-rating {
  display: flex;
  column-gap: 0.5rem;
}

.add-to-cart {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  align-items: center;
  visibility: hidden;
}

.card:hover .add-to-cart {
    visibility: visible;
}

.add-to-cart-img {
  margin: 0 auto;
}

.add-to-cart > a {
  text-decoration: none;
  background-color: #000;
  color: white;
  height: 100%;
  text-align: center;
  padding-top: 0.6rem;
}

.star {
  width: 25px;
}
/* margin 24px */

/* .add-to-cart > image {
  
} */

/* .add-to-cart__btn {

} */

/* .div1{
    width: 100%;
} */

/* .div2{
    border: 1px dotted black;
    margin-bottom: 50px;
} */
/* .div2>a{
    text-decoration: none;
} */

/* ------------------hovering 1------------------ */
/* .div1:hover, .hide:hover>.hide1>img, .hide:hover > .hide2 > a > button{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
} */
/* ------------------hovering 1------------------ */

/* .div3{
    
    display: flex;
    justify-content: right;
    width: 98%;
    margin: auto;
    color: black;
    font-size: 13px;
    column-gap: 3px;

} */
/* .div3_0_1{
    margin-top: 2px;
} */
/* .div3_1{
    width: 256px;
    margin: auto;
    height: 276px;
} */
/* .div3_1>img{
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 5px;

} */
/* .div3_2{
    padding-bottom: 10px;
} */

/* .div3_2>p{
    color: gray;
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
}
.cost{
    margin-top: 30px;
} */
/* .star_rate{

    display: flex;
    justify-content: center;
} */
/* .star>img{
    width: 25px;
    height: 25px;
}

.rating{
    display: flex;
    column-gap: 5px;
    padding-top: 6px;
    padding-left: 5px;
}
.rating p{
    font-size: 13px;
    color: black;
} */
/* ------------------ hover section------------------ */
/* .hide{
    display: flex;
    height: 35px;
    font-size: 16px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    background-color: #F5F5F5;
    

}
.hide1{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 28px;
    padding-left: 10px;
}
.hide1 > img{
    vertical-align: middle;
    color: white;
    visibility: hidden;
}
.hide2{
    width: 75%;
    background-color: #F5F5F5;
    

}
.hide2 > a{
    color: white;
    text-decoration: none;
}
.hide2 > a > button{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    color: white; 
    border: 0px;
    margin-left: 0px;
    
} */

/* ----------------------------hovering 2----------------------- */

/* .hide:hover>.hide1>img, .hide:hover > .hide2 > a > button{
    visibility: visible;

}

.hide:hover > .hide2 > a > button{
    background-color: black;
}

.hide:hover{
    border: 1px solid black;
} */

/*-------------------------------@media quary----------------------------*/

/* @media all and (min-width: 768px) and (max-width:991px){
    #card_container
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media all and (min-width: 51px) and (max-width:767px){
    #card_container
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
} */
