body>p {
    font-size: 32px;
    padding: 12px;
    text-align: center;
}

#offers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    background-color: white;
    padding: 20px;
    margin-right: 15px;
    padding-bottom: 10px;
}

img {
    width: 100%;
    border-radius: 5px;
}