#emptyWishlist {
    width: 50%;
    display: flex;
    margin: auto;
    padding: 100px 0 0 0;
}

#content {
    color: grey;
    line-height: 40px;
}

#content>p:first-child {
    font-size: 25px;
}

#content>button {
    margin: 16px 0px;
    background-color: #fc2779;
    padding: 10px 50px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

button>a {
    color: white;
}

#cards {
    width: 95%;
    margin: 30px 0 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    text-align: center;
}

#cards>div {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: white;
}